<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>
  
  <body>

  </script>
    <div id="fullpage" class="cover">
      <div class="navbar" style="color:#ffffff; text-shadow: 1px 1px #000000;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color:#ffffff" href="#"><span>EasyImport</span></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right" >
              <li class="active">
                <a  style="color:#ffffff" href="/painel/">Entrar</a>
              </li>
              <li>
                <a style="color:#ffffff" href="#">Contacts</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="background-image-fixed cover-image" style="background-image : url('http://orig00.deviantart.net/a663/f/2014/270/c/1/kandy_lake_morning___wallpaper_by_thesahan-d80p0ct.jpg')"></div>
      <div class="container" style='text-shadow: 1px 1px #000000'>
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-inverse">Easy Import</h1>
            <p class="text-inverse">
              <span style="color: rgb(f, f, f); font-variant-ligatures: normal; orphans: 2; widows: 2;">Já pensou em alterar todos os seus Produtos de uma só vez, com apenas
                um clique?&nbsp;</span>
              <br style="color: rgb(f, f, f); font-variant-ligatures: normal; orphans: 2; widows: 2;">
              <span style="color: rgb(f, f, f); font-variant-ligatures: normal; orphans: 2; widows: 2;">Agora isso é possível! E nada de planilhas!</span>
            </p>
            <br>
            <br>
            <a class="btn btn-info btn-lg" style='text-shadow: 0px 0px #000000'>Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section slide">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
            class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1 class="text-primary">Atualização de Preço em Massa!</h1>
            <h3>Atualização de Preço em massa</h3>
            <p>O tempo é algo muito importante na vida de um lojista. Preço sobe, preço
              desce, promoção entra, uma loucura! Atualizar isso manualmente ou através
              de planilhas pode ser uma tarefa um pouco enfadonha.&nbsp;
              <br>Porque passar horas e horas alterando manualmente seus produtos, inserindo
              promoções quando você pode aplicar isso uma vez só em todos eles?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section slide">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-primary">Atualização de Estoque em massa</h1>
            <h3>Atualize seu estoque de maneira prática!</h3>
            <p>Da mesma forma que é com o preço - ou até mais volátil ainda - constante
              são as alterações que os lojistas devem fazer em seus produtos. O Easy
              Import te ajuda nisso também!</p>
          </div>
          <div class="col-md-6">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
            class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="section slide">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
            class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1 class="text-primary">Cadastro de Produtos</h1>
            <h3>Caso queira cadastrar seus produtos pelo nosso sistema</h3>
            <p>O tempo é algo muito importante na vida de um lojista. Preço sobe, preço
              desce, promoção entra, uma loucura! Atualizar isso manualmente ou através
              de planilhas pode ser uma tarefa um pouco enfadonha.&nbsp;
              <br>Porque passar horas e horas alterando manualmente seus produtos, inserindo
              promoções quando você pode aplicar isso uma vez só em todos eles?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section slide">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center text-primary">Team</h1>
            <p class="text-center">We are a group of skilled individuals.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
            class="center-block img-circle img-responsive">
            <h3 class="text-center">John Doe</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-4">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
            class="center-block img-circle img-responsive">
            <h3 class="text-center">John Doe</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-4">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
            class="center-block img-circle img-responsive">
            <h3 class="text-center">John Doe</h3>
            <p class="text-center">Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="text-muted" contenteditable="true">Produto Multicriar</p>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>