{% extends 'masterPage.html' %}
{% block title %}EasyImport{% endblock %}

{%block content %}
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="hidden-xs">Seja bem vindo, {{user.first_name}}!</h1>
                        <h4 class="hidden-lg hidden-md hidden-sm text-center">Seja bem vindo, {{user.first_name}}!</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="text-center">Chave de API</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-6">
                                        <form role="form">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Insira sua Chave de API" disabled="disabled">
                                                    <span class="input-group-btn">
                                                        <a class="btn btn-success" type="submit">Ok</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section text-center">
            <p class="text-muted size" style="font-size:20px">
              Veja os dados de sua loja:
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-left">
            <ul class=" list-group="" "=" ">
              <li class="list-group-item ">Loja: ComicstoreV</li>
              <li class="list-group-item ">Produtos sincronizados: 100</li>
              <li class="list-group-item ">Data da última sincronização: 20/05/2016</li>
              <li class="list-group-item ">Data da última Importação: 30/06/2016</li>
              <li class="list-group-item ">Erros: 0</li>
            
          </div>
        </div>
      </div>
    </div>
    

{% endblock %}